# HW3: Exploratory Analysis
For this homework, we will be applying the concepts from today's class to the [Credit Application Dataset](http://archive.ics.uci.edu/ml/datasets/Credit+Approval) from the UCI machine learning repository. 

This file concerns credit card applications. All attribute names and values have been changed to meaningless symbols to protect confidentiality of the data. 

This dataset is interesting because there is a good mix of attributes -- continuous, nominal with small numbers of values, and nominal with larger numbers of values. There are also a few missing values.

I've created a list of arbitrary column names below, with the assumption that A16 represents whether or not the credit application was approved.

## 1. Load the dataset
Download the [dataset](http://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/crx.data) to your computer and update the file location in the pd.read_csv() function below:

In [45]:
import pandas as pd
import numpy as np

# read in the data
names = [("A" + str(x+1)) for x in range(0,16)] # generate list of column names
df = (pd.read_csv('/Users/summerrae/Downloads/crx.data', 
                 header=None,
                 names=names)
        .replace({'?': np.nan}))  # here we are automatically replace question marks with np.nan

In [46]:
df.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

## 2. Find and repleace null values
The easiest way to check each column for null values is to use the following statement:

In [47]:
df.isnull().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

We can use the following syntax to pull out rows that contain any null values:

In [48]:
df[df.isnull().any(axis=1)]

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
71,b,34.83,4.000,u,g,d,bb,12.500,t,f,0,t,g,NaN,0,-
83,a,NaN,3.500,u,g,d,v,3.000,t,f,0,t,g,00300,0,-
86,b,NaN,0.375,u,g,d,v,0.875,t,f,0,t,s,00928,0,-
92,b,NaN,5.000,y,p,aa,v,8.500,t,f,0,f,g,00000,0,-
97,b,NaN,0.500,u,g,c,bb,0.835,t,f,0,t,s,00320,0,-
202,b,24.83,2.750,u,g,c,v,2.250,t,t,6,f,g,NaN,600,+
206,a,71.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
243,a,18.75,7.500,u,g,q,v,2.710,t,t,5,f,g,NaN,26726,+
248,NaN,24.50,12.750,u,g,c,bb,4.750,t,t,2,f,g,00073,444,+
254,b,NaN,0.625,u,g,k,v,0.250,f,f,0,f,g,00380,2010,-
270,b,37.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
278,b,24.58,13.500,y,p,ff,ff,0.000,f,f,0,f,g,NaN,0,-
286,a,NaN,1.500,u,g,ff,ff,0.000,f,t,2,t,g,00200,105,-
327,NaN,40.83,3.500,u,g,i,bb,0.500,f,f,0,f,s,01160,0,-
329,b,NaN,4.000,y,p,i,v,0.085,f,f,0,t,g,00411,0,-
330,b,20.42,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
346,NaN,32.25,1.500,u,g,c,v,0.250,f,f,0,t,g,00372,122,-
374,NaN,28.17,0.585,u,g,aa,v,0.040,f,f,0,f,g,00260,1004,-
406,a,40.33,8.125,y,p,k,v,0.165,f,t,2,f,g,NaN,18,-
445,a,NaN,11.250,u,g,ff,ff,0.000,f,f,0,f,g,NaN,5200,-
450,b,NaN,3.000,y,p,i,bb,7.000,f,f,0,f,g,00000,1,-
453,NaN,29.75,0.665,u,g,w,v,0.250,f,f,0,t,g,00300,0,-
456,b,34.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,-
479,NaN,26.50,2.710,y,p,NaN,NaN,0.085,f,f,0,f,s,00080,0,-
489,NaN,45.33,1.000,u,g,q,v,0.125,f,f,0,t,g,00263,0,-
500,b,NaN,4.000,u,g,x,v,5.000,t,t,3,t,g,00290,2279,+
515,b,NaN,10.500,u,g,x,v,6.500,t,f,0,f,g,00000,0,+
520,NaN,20.42,7.500,u,g,k,v,1.500,t,t,1,f,g,00160,234,+
539,b,80.25,5.500,u,g,NaN,NaN,0.540,t,f,0,f,g,00000,340,-
592,b,23.17,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
598,NaN,20.08,0.125,u,g,q,v,1.000,f,t,1,f,g,00240,768,+
601,NaN,42.25,1.750,y,p,NaN,NaN,0.000,f,f,0,t,g,00150,1,-
608,b,NaN,0.040,y,p,d,v,4.250,f,f,0,t,g,00460,0,-
622,a,25.58,0.000,NaN,NaN,NaN,NaN,0.000,f,f,0,f,p,NaN,0,+
626,b,22.00,7.835,y,p,i,bb,0.165,f,f,0,t,g,NaN,0,-
641,NaN,33.17,2.250,y,p,cc,v,3.500,f,f,0,t,g,00200,141,-
673,NaN,29.50,2.000,y,p,e,h,2.000,f,f,0,f,g,00256,17,-

Examine the rows and remove the null values from each column in an appropriate way. 

For example, let's look at the unique vaues in A4. There appears to be two categorical values and the number 1.

In [52]:
df.A4.unique()

array(['u', 'y', nan, 'l'], dtype=object)

The simplest way to replace null values in categorical data is to fillna() with the most frequent column value, so that you are not changing the columns frequency distribution:

In [53]:
df.A4.value_counts()

u    519
y    163
l      2
Name: A4, dtype: int64

In [54]:
df["A4"] = df.A4.fillna("u")

In [ ]:
# replace nulls from each column

## 3. One-hot encode the A16 column
A16 contains the class labels, which are the target for the dataframe. These can be one-hot-encoded so that: 
- "-" = 0
- "+" = 1

This would allow us to use this information in a regression, or other machine learning model.

## 4. Standardize the Dataset
We can see that several of the columns are on different scales.

In [ ]:
# create a density plot to view the distribution of each numeric column

In [ ]:
# standardize each numeric using either Zscore or MinMax, according to the columns distribution

## 5. Apply these methods on our own dataset, as appropriate
Where appropriate, apply each of these methods on your own dataset and plot the results.

## 6. For two points, let us know what you would like feedback on, or have any questions about!